{{- /*
templateの定義は必ず前後のスペースを取り除いておく。
さもないと、このtemplate fileの内容もExecuteに含まれてしまうため、余分な空白が混入してしまう。
*/ -}}

{{- define "name" -}}
<div>
{{ . }}
</div>
{{- end -}}

{{- define "age" -}}
<p>
{{ . }}
</p>
{{- end -}}
